Deployment: <a href="{{ path('deployment_index', { 'deployment': deployment.name }) }}">{{deployment.name}}</a><br />
Node: {{node.name}}<br />

<table>
	<thead>
		<tr>
			<th colspan="4">Upgrades</th>
		</tr>
		<tr>
			<th>Release</th>
			<th>Status</th>
			<th>Start Date</th>
			<th>End Date</th>
		</tr>
	</thead>
	<tbody>
		{% for upgrade in upgrades %}
			<tr>
				<th><a href="{{ path('release_index', { 'deployment': deployment.name, 'release': upgrade.release.id }) }}">{{ upgrade.release.versionType }} : {{ upgrade.release.versionName }}</a></th>
				<td>{{ upgrade.status }}</td>
				<td>{{ upgrade.startDate.format('Y-m-d H:i:s') }}</td>
				<td>{{ upgrade.finishDate.format('Y-m-d H:i:s') }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>